<div class="container">
  <div class="tools-container">
    <div> {{items?.name}} </div>
    <img class="tool first-tool" (click)="onAddClick()" src="/assets/icons/plus.svg">
    <img class="tool" (click)="onRefreshClick()" src="/assets/icons/refresh.svg">

  </div>
  <div class="horizontal-line">

  </div>
  <div #tree class="tree" id="tree">
  </div>
      <div class="no-content" *ngIf="items?.children?.length || true">
      There is no yet click the plus sign above to add one
    </div>
</div>
