* {
  transition: 0.5s all;
}
.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
#tree {
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 40px;
  padding-right: 20px;
  // padding: 10px;
}
.item {
  max-height: auto;
  margin-left: 5px;
  margin-top: 8px;
}
.arrow {
  margin-right: 3px;
}
.minus {
  visibility: hidden;
  margin-left: auto;
  display: block;
}
.content:hover .minus {
  visibility: visible;
}
.closed {
  display: none;
  overflow: hidden;
}
.opened {
  transition: 0.5s all;
  transform: rotate(90deg);
}

.content {
  display: flex;
  align-items: center;
  // height: 14px;
}
.clickable {
  cursor: pointer;
}
.childrenContainerElement {
  border-left: solid 0.5px var(--gray3);
}

.tools-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 30px;
}
.tool {
  width: 40px;
  height: 20px;
}
.name {
  height: 22px;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}
