table {
  border-collapse: collapse;
}
// table tr {
//   width: max-content;
//     display: table-cell;
// }
table tr td {
  width: max-content;
  min-width: 100%;
  // display: block;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.color-cell{
  // color: white;
}

.color-cell{
  // width: 10px;
  // height: 10px;
}

.table{
  overflow: auto;
  width: 100%;

}



/**Try flex instead of table*/
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}



.filter {
  margin-top: 10px;
}
.filters {
  padding: 10px;
  flex: 0.1;
  display: flex;
  overflow: auto;
  min-width: max-content;
  flex-direction: column;
  background-color: var(--gray3);
}

.filters-title {
  text-align: center;
  font-size: large;
}
.add-filter{
  width: 100%;
}

.title{
  position: relative;
  display: flex;
  flex-direction: row;
  border-bottom: solid #00000044 1px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.checkbox{
  margin-right: 10px;
}

.menu-button{
  width: 32px;
}
.menu{
  background-color: var(--gray1);
  padding: 20px;

  border-radius: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50px;
  right: 50px;
}
.aggregation-tools{
  display: flex;
  flex-direction: column;

}
.tool-title{
  font-size: small;
  text-align: center;
  padding-bottom: 10px;

}
.non-first-tool-title{
  margin-top: 15px;
}

.tool{
  display: flex;
  flex-direction: column;
  border: solid #00000044 1px ;
  padding: 12px;
}
.column{
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  width: 60px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.column-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.name-filed{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px;
}
.field-title{
  margin-right: 10px;
}
.field-input{
  width: 55%;
}
.equation{

}
.color-input{
  width: 100%;
}
.color-cell{
  line-height: 0;

}
