table {
  border-collapse: collapse;
}
// table tr {
//   width: max-content;
//     display: table-cell;
// }
table tr td {
  width: max-content;
  min-width: 100%;
  // display: block;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.color-cell{
  // color: white;
}

.color-cell{
  // width: 10px;
  // height: 10px;
}





/**Try flex instead of table*/
.container{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.column{
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.cell{
  height: 100%;
  width: max-content;
  min-width: 100%;
  display: block;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}



.filter {
  margin-top: 10px;
}
.filters {
  padding: 10px;
  flex: 0.1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--gray3);
}

.filters-title {
  text-align: center;
  font-size: large;
}
