<div class="container">
  <div class="table">
    <div class="title">
      <div>
        {{ (dataSource | async).name }}
      </div>
      <div>
        <button mat-button (click)="exportAsCSV()">CSV</button>
        <button mat-button (click)="openMenu = !openMenu">
          <img class="menu-button" src="/assets/icons/menu.svg" alt="" />
        </button>
      </div>
      <div class="menu" *ngIf="openMenu">
        <div class="tool-title">
          Aggregationيشف
        </div>
        <div class="aggregation-tools tool">
          <mat-form-field>
            <mat-label>Aggregation Column</mat-label>
            <mat-select [(ngModel)]="aggregatedColumn">
              <mat-select-trigger>
                {{ (dataSource | async).columns[aggregatedColumn]?.name }}
              </mat-select-trigger>
              <mat-option
                *ngFor="let column of objectKeys((dataSource | async).columns)"
                [value]="column"
                >{{ (dataSource | async).columns[column].name }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <mat-form-field class="type" *ngIf="aggregatedColumn">
            <mat-label>Aggregation Type</mat-label>
            <mat-select
              [disabled]="!aggregatedColumn"
              [(ngModel)]="aggregationType"
            >
              <mat-select-trigger>
                {{ aggregationType }}
              </mat-select-trigger>
              <mat-option [value]="'BasicSum'">Basic Sum</mat-option>
              <mat-option
                *ngIf="
                  (dataSource | async).columns[aggregatedColumn].columnType ==
                  'DateTime'
                "
                [value]="'DayBasedSum'"
                >Day Based Sum</mat-option
              >
              <mat-option
                *ngIf="
                  (dataSource | async).columns[aggregatedColumn].columnType ==
                  'DateTime'
                "
                [value]="'MonthBasedSum'"
                >Month Based Sum</mat-option
              >
              <mat-option
                *ngIf="
                  (dataSource | async).columns[aggregatedColumn].columnType ==
                  'DateTime'
                "
                [value]="'YearBasedSum'"
                >Year Based Sum</mat-option
              >

              <mat-option
                *ngIf="
                  (dataSource | async).columns[aggregatedColumn].columnType ==
                  'DateTime'
                "
                [value]="'DayBasedAvg'"
                >Day Based Average</mat-option
              >
              <mat-option
                *ngIf="
                  (dataSource | async).columns[aggregatedColumn].columnType ==
                  'DateTime'
                "
                [value]="'MonthBasedAvg'"
                >Month Based Average</mat-option
              >
              <mat-option
                *ngIf="
                  (dataSource | async).columns[aggregatedColumn].columnType ==
                  'DateTime'
                "
                [value]="'YearBasedAvg'"
                >Year Based Average</mat-option
              >
              <mat-option [value]="'BasicAvg'">Basic Average</mat-option>
            </mat-select>
          </mat-form-field>
          <button
            (click)="onAggregateClick()"
            class="type"
            mat-button
            color="primary"
            *ngIf="aggregatedColumn && aggregationType"
          >
            Aggregate
          </button>
          <button
            (click)="onUnAggregateClick()"
            class="type"
            mat-button
            *ngIf="(dataSource | async).aggregator.isActive"
          >
            unAggregate
          </button>
        </div>

        <div class="tool-title non-first-tool-title">
          Add Column
        </div>
        <div class="tool">
          <div class="name-filed">
            <label class="field-title">Column Name:</label>
            <input
              class="field-input"
              [(ngModel)]="addedColumnName"
              type="text"
            />
          </div>
          <div class="name-filed">
            <label class="field-title">Column Equation:</label>
            <textarea class="field-input equation" [(ngModel)]="addedColumn">
            </textarea>
          </div>
          <button mat-button (click)="onAddColumn()">Add</button>
        </div>
      </div>
    </div>
    <table>
      <tr>
        <td rowspan="2"></td>
        <td
          class="color-cell"
          *ngFor="
            let color of (dataSource | async).columnsColors;
            let i = index
          "
        >
          <div
            [ngStyle]="{ 'background-color': color }"
            class="color-picker-container"
            (colorPickerSelect)="onColumnColorChange(i,$event)"
            [colorPicker]="color"
          ></div>
          <!-- <input matInput
            type="color"
            (change)="onColumnColorChange(i, $event)"
            [value]="color"
          /> -->
          &nbsp;
        </td>
      </tr>
      <tr
        *ngFor="
          let cell of (dataSource | async).columns[0].cells;
          let i = index
        "
      >
        <td class="color-cell" *ngIf="i">
          <!-- <input
            type="color"
            (change)="onRowColorChange(i - 1, $event)"
            [value]="(dataSource | async).rowsColors[i - 1]"
          /> -->
          <div
          [ngStyle]="{ 'background-color': (dataSource | async).rowsColors[i - 1] }"
          class="color-picker-container"
        (colorPickerSelect)="onRowColorChange(i - 1,$event)"
          [colorPicker]="(dataSource | async).rowsColors[i - 1]"
        ></div>
          &nbsp;
          <!-- {{ (dataSource | async).rowsColors[i - 1] }} -->
        </td>
        <td
          contenteditable="true"
          (blur)="onCellUpdate(column, i, $event.target.innerText, $event)"
          *ngFor="let column of objectKeys((dataSource | async).columns)"
        >
          {{ (dataSource | async).columns[column].cells[i].value }}
        </td>
      </tr>
    </table>
  </div>
  <div class="filters">
    <button
      class="add-filter"
      *ngIf="!insertFilter"
      (click)="insertFilter = true"
      mat-raised-button
    >
      Add Filter
    </button>
    <mat-form-field *ngIf="insertFilter">
      <mat-label>Select Filter</mat-label>
      <mat-select required [(ngModel)]="insertedFilter">
        <mat-select-trigger>
          {{ insertedFilter?.name }}
        </mat-select-trigger>
        <mat-option
          [disabled]="disableAddedFilter(filter, filters | async)"
          *ngFor="let filter of addableFilters | async"
          [value]="filter"
          >{{ filter.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <button
      class="add-filter"
      *ngIf="insertFilter"
      (click)="onAddFilter()"
      mat-raised-button
    >
      ADD
    </button>

    <div class="filter" *ngFor="let filter of filters | async" class="filter">
      <app-filter-item
        (onMinus)="onDeleteFilter($event)"
        [showOptions]="true"
        [filter]="filter"
        [enabled]="filter.active"
        [value]="filter.value"
        (onChange)="onFilterChangeValue($event)"
      >
      </app-filter-item>
    </div>
  </div>
</div>
