table {
  display: table;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table tr {
    display: table-cell;
}
table tr td {
  display: block;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
