<table>
  <tr>
    <!-- <td *ngFor="let columnColor of (dataSource | async).columnsColor" [ngStyle]="{'background-color' : columnColor }">
      {{columnColor}}
    </td> -->
  </tr>
  <tr *ngFor="let columnId of objectKeys((dataSource | async).columns);let i = index">
    <!-- <td [ngStyle]="{'background-color' : (dataSource | async).columnsColors[i] }">
      {{consol((dataSource | async).columnsColor[i])}}
    </td> -->
    <td
      contenteditable="true"
      (blur)="onCellUpdate(columnId, i, $event.target.innerText)"
      *ngFor="
        let cell of (dataSource | async).columns[columnId].cells;
        let i = index
      "
    >
      {{ cell.value }}
    </td>
  </tr>
</table>
