<div class="container">
  <div class="chart-zoom-container">
    <div class="chart-component" id="svg">
      <app-visualizer-item
        id='print-section'
        [zoom]="zoom"
        [svg]="(visualizer | async).chartSvg"
        [metaData]="(visualizer | async).chartData"
      ></app-visualizer-item>
    </div>
    <div class="tools">
      <div class="zoom-slider">
        <div class="zoom-title">
          Zoom: &nbsp;
        </div>
        <mat-slider
          thumbLabel
          tickInterval="100"
          step="10"
          min="20"
          max="1500"
          [(ngModel)]="zoom"
        ></mat-slider>
      </div>
      <div class="export">
        <button mat-button (click)="download('png')">PNG</button>
        <button mat-button (click)="download('svg')">SVG</button>
        <button mat-button (click)="print()">Print</button>
      </div>
    </div>
  </div>
  <!-- <div class="filters-title">
      Filters
    </div> -->
  <div class="filters">
    <button
      class="add-filter"
      *ngIf="!insertFilter"
      (click)="onAddClicked()"
      mat-raised-button
    >
      Add Filter
    </button>
    <mat-form-field *ngIf="insertFilter">
      <mat-label>Select Filter</mat-label>
      <mat-select required [(ngModel)]="insertedFilter">
        <mat-select-trigger>
          {{ insertedFilter?.name }}
        </mat-select-trigger>
        <mat-option
          *ngFor="let filter of addableFilters | async"
          [disabled]="disableAddedFilter(filter, filters | async)"
          [value]="filter"
          >{{ filter.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <button
      class="add-filter"
      *ngIf="insertFilter"
      (click)="onAddFilter()"
      mat-raised-button
    >
      ADD
    </button>
    <div class="filter" *ngFor="let filter of filters | async" class="filter">
      <app-filter-item
        (onMinus)="onDeleteFilter($event)"
        [showOptions]="true"
        [filter]="filter"
        [enabled]="filter.isActive"
        [value]="filter.value"
        (onChange)="onFilterChangeValue($event)"
      >
      </app-filter-item>
    </div>
  </div>
</div>
