.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chart {
  overflow-x: auto;
  flex: 1;
}
.chart-component{
  // display: flex;
  // flex-direction: row;
  overflow: auto;
  width: 100%;
  height: 100%;
}




.filter {
  margin-top: 10px;
}
.filters {
  padding: 10px;
  // flex: 0.1;
  display: flex;
  overflow: auto;
  min-width: max-content;
  flex-direction: column;
  background-color: var(--gray3);
}

.filters-title {
  text-align: center;
  font-size: large;
}
.add-filter{
  width: 100%;
}

.chart-zoom-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.zoom-slider{
  display: flex;
  flex-direction: row;
  align-items: center;
  // margin-top: 20px;
}
