.container {
  display: flex;
  flex-direction: row;
}
.chart {
  overflow-x: auto;
  flex: 1;
}
.filter {
  margin-top: 10px;
}
.filters {
  padding: 10px;
  flex: 0.1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--gray3);
}

.filters-title {
  text-align: center;
  font-size: large;
}
.chart-component{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
