.title{
  font-size: larger;
  width: 30%;
  text-align: center;

}
.content{
  font-size: medium;
  line-height: 40px;
  border: solid 1px black;
  padding: 17px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
}
.datai{
  font-size: xx-large;
}
.email{
  width: 100%;
  text-align: center;
  color: #00000099;
  font-style: italic;
}
