<div class="container">
  <div class="form">
    <mat-form-field>
      <mat-label>Dashboard Name</mat-label>
      <input matInput type="text" />
    </mat-form-field>

    <div *ngFor="let visualizer of allVisualizers | async">
      <div (dragstart)="drag($event,visualizer)" draggable="true" class="visualizer">
        {{ visualizer.name }}
      </div>
      <div
        draggable="true"
        class="filter"
        *ngFor="let filter of visualizer.filters"
        (dragstart)="drag($event,filter)"
      >
        {{ filter.name }}
      </div>
    </div>
  </div>

  <div class="preview" (drop)="onDrop($event)" (dragover)="allowDrop($event)">

  </div>
</div>
