<div class="c1">
  <div class="c1-1">
    <app-left-nav></app-left-nav>
  </div>
  <div class="c1-2 c2">
    <div class="c2-1">

    </div>
    <div class="c2-2 c3">
      <div class="c3-1" [style.width.px]="width" *ngIf="(isTreeOpened | async)">
        <app-tree-view></app-tree-view>
          <div class="c3-1-1" id="grabber">
          </div>
      </div>
      <div class="c3-2 c4">
        <div class="c4-1" *ngIf="(isThereAnOpenedTap | async)">
          <app-taps ></app-taps>
        </div>
        <div class="c4-2">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
