.container{
  position: relative;
  overflow: auto;
}
.inner{
  position: absolute;
}

.visualizer-shape{
  background-color: var(--pink);
  display: flex;
  margin: auto auto;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 100%;

}

.filter-shape{
  background-color: var(--sky-blue);
  display: flex;
  margin: auto auto;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 100%;
}

.top{
  top: -15px;
}

.right{
  right: -15px;
}

.left{
  left: -15px;
}

.bottom{
 bottom: -15px;
}

.halfVertical{
  top: 50%;
  bottom: 50%;
}

.halfHorizontal{
  right: 50%;
  left: 50%;
}

.circle{
  position: absolute;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  z-index: 10;
  background-color: blue;
}


.edit{
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
}

.tools{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: -45px;
  left: 0;
  visibility: hidden;
  align-items: center;
}



.zoom-slider{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chart-container{
  position: absolute;
  border: solid var(--pink) 2px;
}


.chart-container:hover .tools{
  visibility: visible;
}

.open-visualizer{
  width: 25px;
  height: auto;
}

.filter{
  border: solid var(--sky-blue) 2px;
}


.visualizer{
  width: 100%;
  height: 100%;
}
