<div class="container">
  <div class="title">Filter 1</div>
  <div class="horizontal-line"></div>
  <div class="column">
    <div class="property-type">
      name
    </div>
    <input class="property-input" type="text" value="filter1" />
  </div>
  <div class="column">
    <div class="property-type">
      Data source
    </div>
    <input class="property-input" type="text" value="filter1" />
  </div>
  <div class="column">
    <div class="property-type">
      Column Type
    </div>
    <input class="property-input" type="text" value="filter1" />
  </div>
  <div class="column">
    <div class="property-type">
      Column
    </div>
    <input class="property-input" type="text" value="filter1" />
  </div>
  <div class="column">
    <div class="property-type">
      Type
    </div>
    <input class="property-input" type="text" value="filter1" />
  </div>
</div>
