.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: x-large;
  margin: 5px;
}
.column {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 30%;
}
.row {
  width: 100%;
}
.property-type {
  flex: 1;
}
.property-input {
  flex: 1;
}
.horizontal-line {
  width: 50%;
  height: 1px;
  background-color: var(--gray3);
}
form {
  display: flex;
  flex-direction: column;
}
.preview {
  display: flex;
  margin: 0 auto;
  height: fit-content;
  background-color: var(--gray5);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.filter-information {
  width: 50%;
}
.sub-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-between;
}
.preview-title {
  font-size: x-large;
  color: white;
  margin: 10px;
}
.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  width: 50%;
}
.form-not-valid{
  color: red;
  font-size: medium;
}
.disc{
  color: #00000099;
  font-style: italic;
}
