<div (click)="onClose.emit()" class="backdrop"></div>
<div class="menu-container" #container>
  <div class="info">
      <img class="logo" src="/assets/images/logo.svg" alt="">
      <div class="sub-info">
        <div class="main-name">
          DataI
        </div>
        <div class="disc">
          see what you can't see
        </div>
      </div>
  </div>
    <hr>
  <div class="actions">


    <button mat-button (click)="open.click()">
      <span>Open</span>
      <input #open type="file" (change)="onOpenClick($event)" style="display:none;" />
    </button>


    <button mat-button (click)="onExport('dataI')">Save</button>
    <!-- <button mat-button>Save as</button> -->
    <hr>
    <!-- <button mat-button >import</button> -->
    <div class="export-as-container">
      <button class="export-as-trigger" mat-button>
        <div class="export-as-title">
          <div >
            Export As
          </div>
          <div>
            >
          </div>
        </div>
      </button>
          <div class="export-as-menu">
            <button mat-button (click)="onExport('excel')">Excel</button>
            <button mat-button  (click)="onExport('csv')">CSV</button>
          </div>
    </div>
    <!-- <div class="export-as-menu">
      <button mat-button>Excel</button>
      <button mat-button>CSV</button>
    </div> -->
    <hr>
    <button mat-button>Help</button>
    <button mat-button>About</button>
    <button mat-button>Contact Us</button>
  </div>
</div>

